@font-face {
  font-family: Poppins;
  src: url("./poppins.ttf");
}

:root {
  --dark: #202020;
  --dark-m: #333333;
  --yel: #ffd325;
  --yel-m: #d6bd31;
  --grey: #777;
  --l-grey: #ccc;
  --w: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
  font-family: Poppins;
}
